/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Center */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Button */
.secondary-btn {
    padding: 12px 28px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all o.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Hover */
.secondary-btn:hover {
    background-color: #5a6268;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.20);
}

/* Active */
.secondary-btn:active {
    transform: scale(0.96);
}